---
interface Props {
	text: string;
	wrap?: boolean;
}

const { text, wrap = false } = Astro.props;
---

<span class="tooltip">
	<slot />
	<span class:list={['tooltip-text', wrap && 'tooltip-text--wrap']}>{text}</span>
</span>
