---
interface Props {
	text: string;
	wrap?: boolean;
	placement?: 'top' | 'bottom';
}

const { text, wrap = false, placement = 'top' } = Astro.props;
---

<span class="tooltip">
	<slot />
	<span
		class:list={[
			'tooltip-text',
			wrap && 'tooltip-text--wrap',
			placement === 'bottom' && 'tooltip-text--below',
		]}
	>
		{text}
	</span>
</span>
